@font-face {
  font-family: "Jacquard12";
  src: url("/assets/Jacquard12-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.skyContainer {
  /* font-family: "Courier New", Courier, monospace; */
  background-color: black;
  color: white;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  position: relative;
  display: flex;
  /* width: 90%; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.key {
  /* flex: 0 0 180px; */
  /* padding: 2rem 1rem 2rem 2rem; */
  /* background: rgba(0, 0, 0, 0.7); */
  color: white;
  font-size: 1.25vw;
  text-align: center;
  font-family: "Jacquard12", monospace;
  /* margin-right: 2rem;
  font-size: 1.1rem;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12); */
}

.sky {
  position: absolute;
  top: -2%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.star {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  /* color: white; */
  font-size: clamp(12px, 1.8vw, 18px);
  line-height: 1;
}

.star:hover {
  scale: calc(1.2);
  color: red;
  transition: 0.5s ease-out;
}

.star1920 {
  left: 40%;
  top: 20%;
}
.star2122 {
  left: 35%;
  top: 85%;
}
.star2324 {
  left: 20%;
  top: 50%;
}
.star192123 {
  left: 70%;
  top: 30%;
}
.star202224 {
  left: 85%;
  top: 75%;
}

@media (max-width: 420px) {
  .star {
    gap: 4px;
    font-size: 12px;
  }
}

.poetryPage {
  text-align: center;
  background: #000;
  padding: 0vh 1vw;
  display: flex;
  text-align: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}

.poetryTitle {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Jacquard12", monospace;
  color: cyan;
}

.poetryText {
  /* font-size: 1.2rem; */
  /* line-height: 1.6; */
  /* margin-bottom: 2rem; */
  font-size: 0.8rem;
  color: #fff;
}

.poetryLink {
  color: cyan;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Jacquard12", monospace;
}

.poetryLink:hover {
  transition: 0.5s ease-out;
  color: red;
}

.poetryBack {
  display: block;
  margin-top: 2rem;
  color: cyan;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  font-family: "Jacquard12", monospace;
}

.poetryBack:hover {
  transition: 0.5s ease-out;
  color: red;
  font-family: "Jacquard12", monospace;
}
