.piece5Container {
  width: 100vw;
  height: 50vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.piece5Container canvas {
  width: 50vw !important;
  height: 50vh !important;
  display: block;
}

.piece5Button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  /* font-size: 1.5rem; */
  padding: 8px 16px;
  width: fit-content;
  align-self: flex-end;
  border: none;
}

.piece5Button:hover {
  background-color: rgba(150, 0, 0, 0.5);
  color: white;
  transition: 0.3s ease;
  border: none;
  padding: 8px 16px;
}
