@font-face {
  font-family: "Jacquard12";
  src: url("/assets/Jacquard12-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.piece3Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  gap: 2rem;
  /* padding: 2rem; */
}

.birdsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.bird {
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.2s ease;
  color: cyan;
  user-select: none;
  position: absolute;
}

/* Hardcoded positions for each bird - customize as needed */
.bird:nth-child(1) {
  top: 10%;
  left: 35%;
}

.bird:nth-child(2) {
  top: 75%;
  right: 10%;
}

.bird:nth-child(3) {
  bottom: 40%;
  left: 60%;
  /* transform: translateX(-50%); */
}

.bird:hover {
  text-shadow:
    0 0 10px cyan,
    0 0 20px cyan,
    0 0 30px cyan;
  filter: drop-shadow(0 0 15px cyan);
  transform: scale(1.1);
}

.bird:nth-child(3):hover {
  color: red;
  text-shadow:
    0 0 10px red,
    0 0 20px red,
    0 0 30px red;
  filter: drop-shadow(0 0 15px red) !important;
}

.h2Title {
  font-size: 1rem;
  color: cyan;
  margin-bottom: 0rem;
  font-family: "Jacquard12", monospace;
}

.poemText {
  font-size: 0.95vh;
  font-weight: 800;
  text-align: left;
  max-width: 600px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}
